﻿@model Library.Common.AddBookViewModel
@{Layout = null;}

<form method="post" id="addBookForm">
    <fieldset>
            <legend>Book</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.Author)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Author)
                @Html.ValidationMessageFor(model => model.Author)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ReleaseDate)
            </div>
            <div class="editor-field">
                @(Html.Kendo().DatePicker()
                      .Name("ReleaseDate")
                                      .Value("ReleaseDate")
                )
                @Html.ValidationMessageFor(model => model.ReleaseDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ISBN)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ISBN)
                @Html.ValidationMessageFor(model => model.ISBN)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.BookGenreId, "DictBookGenre")
            </div>
            <div>
                @(Html.Kendo().DropDownList()
          .Name("BookGenreId")
          .DataTextField("Name")
          .DataValueField("BookGenreId")
               .DataSource(source =>
               {
                   source.Read(read =>
                  {
                      read.Action("GetBookGenres", "Book");
                  });
               })
                )
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Count)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Count)
                @Html.ValidationMessageFor(model => model.Count)
            </div>
            <p>
                <input id="addBook" type="submit" value="Create" />
            </p>
        </fieldset>

    </form>


