﻿@model Library.Common.BookDetailsVM

@{
    Layout = null;
}

<fieldset>
    <legend>Book</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ReleaseDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ReleaseDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ISBN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ISBN)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Count)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Count)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModifiedDate)
    </div>
    <div>Historia wypożyczeń</div>
    <table>
        <tr>
            <td> Od </td>
            <td> Do </td>
            <td> Użytkownik</td>
        </tr>
    @foreach (var item in Model.history)
{
    <tr>
        <td> @Html.DisplayFor(modelItem => item.FromDate) </td>
        <td> @Html.DisplayFor(modelItem => item.ToDate) </td>
        <td> @Html.DisplayFor(modelItem => item.userFN) @Html.DisplayFor(modelItem => item.userLN)</td>
    </tr>
    }
</table>

</fieldset>

