﻿@model Library.Common.EditBookViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<form id="editBookForm" method="post">
    <fieldset>
        <legend>User</legend>

        @Html.HiddenFor(model => model.BookId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReleaseDate)
        </div>
        <div class="editor-field">
            
            @(Html.Kendo().DatePicker()
                      .Name("ReleaseDate")
                              .Value("ReleaseDate")
            )
            @Html.ValidationMessageFor(model => model.ReleaseDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ISBN)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ISBN)
            @Html.ValidationMessageFor(model => model.ISBN)
        </div>
        <div class="editor-label">
            <label for="genre">Gatunek</label>
        </div>
        <div>
            @(Html.Kendo().DropDownList()
          .Name("BookGenreId")
          .Value(""+Model.BookGenreId)
          .DataTextField("Name")
          .DataValueField("BookGenreId")
               .DataSource(source =>
               {
                   source.Read(read =>
                  {
                      read.Action("GetBookGenres", "Book");
                  });
               })
            )
            @Html.ValidationMessageFor(model => model.BookGenreId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Count)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Count)
            @Html.ValidationMessageFor(model => model.Count)
        </div>

        <p>
            <input id="editBook" type="submit" value="Save" />
        </p>
    </fieldset>
</form>
