﻿
<h2>Books</h2>
<input type="button" id="PopupButton" value="Add book" />

@(Html.Kendo().Grid<Library.Common.GetBooksViewModel>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(b => b.Author);
        columns.Bound(b => b.Title);
        columns.Bound(b => b.ReleaseDate).Format("{0:yyyy/MM/dd}").Width(140);
        columns.Bound(b => b.ISBN);
        columns.Bound(b => b.BookGenre);
        columns.Bound(b => b.Count);
        columns.Command(c => c.Custom("Edit").Click("edit_book_popup"));
        columns.Command(c => c.Custom("Details").Click("details_book_popup"));

    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetBooks", "Book"))
        .Model(model => model.Id(b => b.BookId))
     )
)

@(Html.Kendo().Window()
    .Name("Window")
    .Visible(false)
    .Draggable()
    .Resizable()
    .Animation(false)
    .Width(450)
    .Modal(true)
)


<script type="text/javascript">
    function BookScope() {
        var self = this;

        this.Init = function () {
            $(document).on('click', '#PopupButton', self.show_add_book);
            $(document).on('click', '#addBook', self.add_book);
            $(document).on('click', '#editBook', self.edit_book); 
            $(document).on('click', '#cancelEditBook', self.cancel);
        };

        this.show_add_book = function () {
            $.get('@Url.Action("AddBook", "Book")', function (result) {
                $("#Window").data("kendoWindow").title("Dodawanie książki").content(result);
                $("#Window").data("kendoWindow").open();

            });
        };

        this.add_book = function (e) {
            e.preventDefault();
            var data = $("#addBookForm").serialize();
            $.post('@Url.Action("AddBook", "Book")', data, function (result) {
                if (result.value == "OK") {
                    $("#Window").data("kendoWindow").close();
                    $("#grid").getKendoGrid().dataSource.read();
                }
                else {
                    $("#Window").data("kendoWindow").content(result);
                }
            });
        };

        this.show_edit_book = function (id) {
            $.get('@Url.Action("EditBook", "Book")', { id: id }, function (result) {
                $("#Window").data("kendoWindow").title("Edytowanie książki").content(result);
                $("#Window").data("kendoWindow").open();
            });
        };
        
        this.edit_book = function (e) {
            e.preventDefault();
            var data = $("#editBookForm").serialize();
            $.post('@Url.Action("EditBook", "Book")', data, function (result) {
                if (result.value == "OK") {
                    $("#Window").data("kendoWindow").close();
                    $("#grid").getKendoGrid().dataSource.read();
                }
                else {
                    $("#Window").data("kendoWindow").content(result);
                }
            });
        };

        this.show_details_book = function (id) {
            $.get('@Url.Action("Details", "Book")', { id: id }, function (result) {
                $("#Window").data("kendoWindow").title("Szczegóły").content(result);
                $("#Window").data("kendoWindow").open();
            });
        };

        this.cancel = function () {
            $("#Window").data("kendoWindow").close();
        };

    }

    $(document).ready(function () {
        bookScope = new BookScope();
        bookScope.Init();

    });

    function edit_book_popup(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        bookScope.show_edit_book(dataItem.id);
    }

    function details_book_popup(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        bookScope.show_details_book(dataItem.id);
    }
</script>