﻿@model Library.Common.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
    @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
<h2>Not returned</h2>
<table>
    <tr>
        <td>Tytuł</td>
        <td>Wypozyczone od</td>
        <td>Wypozyczone do</td>
    </tr>
    @foreach (var item in Model.BorrowNotReturned)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
        </tr>

    }
</table>
<h2>History</h2>
<table>
    <tr>
        <td>Tytuł</td>
        <td>Wypozyczone od</td>
        <td>Wypozyczone do</td>
    </tr>
    @foreach (var item in Model.BorrowHistory)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDate)
            </td>
        </tr>

    }
</table>
