﻿@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<Library.Common.UserViewModel>



<h2>Users</h2>
<table>
    <tr>
        <td>User name</td>
        <td>Birth date</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Add Date</td>
        <td>Modified</td>
        <td>Books Borrowed</td>
        <td>Active</td>
        <td></td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BooksBorrowed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditUser", new { id = item.UserId }) |
                @if (item.BooksBorrowed == 0 )
                {
                    @Html.ActionLink("Delete", "DeleteConfirmed", new { id = item.UserId }) 
                }
                @Html.ActionLink("Details", "Details", new { id = item.UserId })

            </td>
        </tr>
    }
</table>

@Html.ActionLink("Add User", "AddUser")
