﻿
@{
    Layout = null;
}

<form method="post" id="addBorrowForm">
    <fieldset>
       
        <div class="editor-label">
            Użytkownicy
           @*@Html.LabelFor(model => model.User)*@
        </div>
        <div>
            @(Html.Kendo().DropDownList()
          .Name("UserId")
          .DataTextField("User")
          .DataValueField("UserId")
               .DataSource(source =>
               {
                   source.Read(read =>
                  {
                      read.Action("GetUsers", "Borrow");
                  });
               })
            )
        </div>
        
        <div id="new-dropdown">
            @*<input id="fgdfg" style="width: 100%" />*@
        </div>
        <div >
            <a id="AddDropdownlistButton" href="#">new book</a>
        </div>
        <div id="newDropdownMessage">
        </div>

        
        
    </fieldset>

</form>

<script>
    function AddBorrowScope() {
        var self = this;
        var countDropdowns;
        var allBooks;
        var booksToChoose;

        this.Init = function () {
            countDropdowns = 0;
            allBooks = [];
            booksToChoose = [];
        };
        
    }

    $(document).ready(function () {
        addBorrowScope = new AddBorrowScope();
        addBorrowScope.Init();

    });

</script>




