﻿@model IEnumerable<Library.Common.BorrowViewModels.BorrowedViewModel>
@{
    ViewBag.Title = "DetailsUserBorrow";
}

<h2>Wypożyczone książki</h2>

@(Html.Kendo().Grid(Model)
    .Name("gridUserBorrow")
    .Columns(columns =>
    {
        columns.Bound(b => b.Author);
        columns.Bound(b => b.Title);
        columns.Template(@<text></text>).ClientTemplate("<input type='checkbox'  class='chkbx' />");

    })
    .DataSource(dataSource => dataSource
        .Ajax()
                

     )
)

<button id="returnButton">Zwróć</button>
<script>
    function BorrowScope() {
        var self = this;
        this.Init = function () {
            $(document).on('click', '#returnButton', self.return_book);
        };

        this.find_chkbx = function () {
            var chkbxs = [];
            var grid = $('#gridUserBorrow').data().kendoGrid;
            $('#gridUserBorrow input[type=checkbox]').each(function () {
                if ($(this).is(":checked")) {
                    var dataItem = grid.dataItem($(this).closest('tr'));
                    chkbxs.push(dataItem.BorrowId);
                }
            });
            return chkbxs;
        }

        this.return_book = function (e) {
            e.preventDefault();
            var selected = self.find_chkbx();            
            $.post('/Borrow/ReturnBooks', $.param({ data: selected }, true), function (result) {
                if (result.value == "OK") {
                    location.reload();
                    //$("#gridUserBorrow").getKendoGrid().dataSource.read();
                }
            });
        };

    }

    $(document).ready(function () {
        borrowScope = new BorrowScope();
        borrowScope.Init();;
    });






</script>