﻿@{
    ViewBag.Title = "Index";
}

<h2>lista aktualnie przetrzymywanych książek</h2>

<input type="button" id="PopupAddBorrow" value="Nowe wypożyczenie" />

@(Html.Kendo().Grid<Library.Common.BorrowViewModels.BorrowedViewModel>()
    .Name("gridBorrow")
    .Columns(columns =>
    {
        columns.Bound(b => b.Author);
        columns.Bound(b => b.Title);
        columns.Bound(b => b.User);
        columns.Bound(b => b.FromDate).Format("{0:yyyy/MM/dd}").Width(140);
        columns.Bound(b => b.ToDate).Format("{0:yyyy/MM/dd}").Width(140);
        columns.Command(c => { c.Custom("Return").Click("return_book"); });

    })
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetBorrows", "Borrow"))
        .Model(model => model.Id(b => b.BorrowId))
     )
)

@(Html.Kendo().Window()
    .Name("Window")
    .Visible(false)
    .Draggable()
    .Resizable()
    .Animation(false)
    .Width(450)
    .Modal(true)
)

<div>
    @Html.ActionLink("UserBorrow", "UserBorrow")
</div>

<script>
    function BorrowScope() {
        var self = this;
        var countDropdowns;
        var countBooksToBorrow;
        var countDropdowns;
        var countClick;
        var allBooks;
        var booksToChoose;
        var tmpDataItem;

        this.Init = function () {
            countDropdowns = 0;
            countBooksToBorrow = 0;
            countClick = 0;
            countDropdowns = 0;
            $(document).on('click', '#PopupAddBorrow', self.show_add_borrow);
            $(document).on('click', '#AddDropdownlistButton', self.add_dropdownlist);
        };

        this.return_book = function (id) {
            $.get('@Url.Action("ReturnBook", "Borrow")', { id: id }, function () {
                $("#gridBorrow").getKendoGrid().dataSource.read()
            });
        };

        this.show_add_borrow = function () {
            $.get('@Url.Action("AddBorrow", "Borrow")', function (result) {
                $("#Window").data("kendoWindow").title("Dodawanie wypożyczenia").content(result);
                $("#Window").data("kendoWindow").open();
            });
            $.get('@Url.Action("GetBooks", "Borrow")', function (result) {
                allBooks = result;
                booksToChoose = allBooks.slice(0);
                countBooksToBorrow = allBooks.length;
            });

        };


        //this.add_dropdownlist2 = function (e) {
        //    e.preventDefault();
        //    self.update_books_to_choose();
        //    if (countBooksToBorrow > countDropdowns) {
        //        countDropdowns = countDropdowns + 1;
        //        //$('#new-dropdown').append("<div>Książka </div><div><select id=\""countDropdowns \" class=\"dropdownAddBorrow\"/></div>");
        //        $('#new-dropdown').append("<div id=\"list\"><select id=\"" + countDropdowns + "\"/>         <button id=\"removebook\">Remove</button><div>");
        //        $("#" + countDropdowns).kendoDropDownList({
        //            dataTextField: "Title",
        //            dataValueField: "BookId",
        //            select: self.on_select,
        //            open: self.on_open,
        //            dataSource: booksToChoose.slice(0)
        //        });
        //    } else {
        //        if (countClick == 0) $("#newDropdownMessage").append('<span>Nie ma więcej książek do wyboru</span>');
        //        countClick = countClick + 1;
        //    }
        //};

        this.add_dropdownlist = function (e) {
            e.preventDefault();
            if (countBooksToBorrow > countDropdowns) {
                countDropdowns = countDropdowns + 1;
                $('#new-dropdown').append("<div id=\"list\"><select id=\"" + countDropdowns + "\"/>         <button id=\"removebook\">Remove</button><div>");
                $("#" + countDropdowns).kendoDropDownList({
                    dataTextField: "Title",
                    dataValueField: "BookId",
                    open: self.open_dropdownlist,
                    dataSource: [{BookId: "-1", Title: ""}]
                });
            } else {
                if (countClick == 0) $("#newDropdownMessage").append('<span>Nie ma więcej książek do wyboru</span>');
                countClick = countClick + 1;
            }
        };

        this.update_books_to_choose = function (e) {

            $('.dropdownAddBorrow').each(function (i, obj) {

                var selectedVal = $(this).find(":selected").val(); //obecna
                var selectedText = $(this).find(":selected").text();
                var pos = booksToChoose.map(function (e) { return e.BookId; }).indexOf(Number(selectedVal));
                if (pos > -1) {
                    console.log(booksToChoose.splice(pos, 1));
                }
            });
        };



        this.on_select = function (e) {
            var dataItemSelected = this.dataItem(e.item);
            //var elementSelectedPos = booksToChoose.map(function (x) { return x.BookId; }).indexOf(dataItemSelected.BookId);
            //var elementPrevPos = allBooks.map(function (x) { return x.BookId; }).indexOf(tmpDataItem.BookId);
            //booksToChoose.push(tmpDataItem);
                       

        };

        this.on_close = function (e) {

        };

        this.open_dropdownlist = function () {
            var selected = [];
            var BookId;
            var targetedlist = $(event.target).closest('.k-widget.k-dropdown.k-header');
            var dropdownlists = $("#new-dropdown").find('.k-widget.k-dropdown.k-header').each(function () {
                BookId = $(this).find(":selected").val();
                if (BookId !== undefined) {
                    if ($(this).find('select').attr('id') !== targetedlist.find('select').attr('id') && BookId !== "-1") {
                        selected.push(BookId);
                    }
                }
            });
            var tmpbooks = allBooks.slice();
            console.log(tmpbooks);
            if (dropdownlists.length > 1) {
                var pos;
                selected.forEach(function (element) {
                    pos = tmpbooks.map(function (e) { return e.BookId; }).indexOf(Number(element));
                    tmpbooks.splice(pos, 1);
                });
            }
            var listidname = targetedlist.find('select').attr('id');
            $("#" + listidname).data("kendoDropDownList").setDataSource(tmpbooks);
        }

    }

    $(document).ready(function () {
        borrowScope = new BorrowScope();
        borrowScope.Init();


    });

    function return_book(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        borrowScope.return_book(dataItem.id);
    }

    

</script>
