﻿@{
    ViewBag.Title = "UserBorrow";
}

<h2>lista użytkowników posiadających książki na stanie</h2>

<input type="button" id="PopupAddBorrow" value="Nowe wypożyczenie" />

@(Html.Kendo().Grid<Library.Common.BorrowViewModels.UserViewModel>()
    .Name("gridUserBorrow")
    .Columns(columns =>
    {
        columns.Bound(b => b.User);
        columns.Command(c => { c.Custom("Borrowed books").Click("show_user_borrow"); });
        

    })
    .DataSource(dataSource => dataSource
        .Ajax()
            .Read(read => read.Action("GetUsersGrid", "Borrow"))
        .Model(model => model.Id(u => u.UserId))
     )
)

@(Html.Kendo().Window()
    .Name("Window")
    .Visible(false)
    .Draggable()
    .Resizable()
    .Animation(false)
    .Width(450)
    .Modal(true)
)

<div>
    @Html.ActionLink("Index", "Index")
</div>
<script>
    function BorrowScope() {
        var self = this;
        
        this.Init = function () {

        };

        this.show_user_borrow = function (id) {
            document.location.href = '/Borrow/DetailsUserBorrow/' + id;
        };

    }

    $(document).ready(function () {
        borrowScope = new BorrowScope();
        borrowScope.Init();

    });
    
    function show_user_borrow(e) {
        e.preventDefault();
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        borrowScope.show_user_borrow(dataItem.id);
    }

</script>
